.button,
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid transparent;
    padding-inline: 24px;
    padding-block: 8px;
    font-size: 1rem;
    min-height: 40px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
  }

  .primary {
    background-color: var(--color-surface-accent);
    color: var(--color-foreground-inverted);
    transition: 0.2s ease-in-out all;
     &:hover {
        background-color: var(--color-surface-accent-hover);
     }
  }

  .secondary {
    background-color: var(--color-surface-default);
    color: var(--color-foreground-default);
    border: 1px solid var(--color-border-bold);
    &:hover {
        color: var(--color-foreground-default);
     }
  }

  .ghost {
    border: none;
    background-color: transparent;
    transition: 0.2s ease-in-out all;
  }

  .ghost:hover {
    background-color: var(--color-surface-shy);
  }

  .destructive {
    color: var(--color-foreground-error);
    background-color: transparent;
    transition: 0.2s ease-in-out all;
  }

  .destructive:hover {
    background-color: var(--color-surface-error-subtle);
  }

  .buttonGroup {
    display:flex;
    justify-content: flex-end;
    gap: 8px;
  }

  a.buttonLink {
    text-decoration: none;
  }

  .fullWidth {
    width: 100%;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }