.nav {
    margin-block-end: 94px;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 24px;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: var(--color-foreground-inverted);
        opacity: 0.6;
    }

    a:hover {
        opacity: 1;
        transition: all ease-out 0.2s;
    }

    :global(.active) {                                                                   
        opacity: 1; 
    }
}

