.hero {
    display: flex;
    flex-direction: column;
    gap: 64px;
    color: white;
    background-image: url("../../../assets/images/hero.png");
    background-size: cover;
    background-position: right;
    padding-block: 60px;
    padding-inline-start: 60px;
}

.logo {
    width: 70px;
}

.title {
    font-size: 4.5rem;
    margin-block-end: 16px;
}

.titleGroup {
    max-width: 60%;
}

.buttonGroup {
    display: flex;
    gap: 16px;
}