.wrapper {
    max-width: 900px;
    margin-inline: auto;
    padding-inline: 24px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-block: 60px;
}

.title {
    font-size: 4.5rem;
    margin-block-end: 16px;
}

.titleGroup {
    width: 60%;
    text-align: center;
}

.buttonGroup {
    display: flex;
    gap: 16px;
}

.imgContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
    height: 400px;
}

.imgContainer img {
    display: block;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom left
}
