.spinner {                                                                          
    width: 24px;                                                                    
    height: 24px;
    border: 3px solid transparent;
    border-radius: 50%;
    display: inline-block;                                                          
    box-sizing: border-box;
    animation: rotation 1s linear infinite;                                         
}               

.inverted {
    border-color: #FFF;
    border-bottom-color: transparent;
}                                                                                   

.accent {                                                                           
    border-color: var(--color-foreground-accent);
    border-bottom-color: transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}