.codesContainer {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.listContainer {
    display: flex;
    flex-direction: column;
    background: var(--color-surface-default);
    border-radius: 16px;
    padding-inline: 24px;
    padding-block: 24px;
    color: var(--color-foreground-default);
}

.emptyState {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 16px;
    text-align: center;
}

@media (width <= 400px) {
    .listContainer {
        padding-inline: 8px;
        padding-block: 8px;
    }
}