.rowContainer {
    display: flex;
    font-weight: 500;
    padding-inline: 24px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    border-radius: 8px;
}

.innerContainer {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex: 1;
    padding-block: 16px;
}

.rowContainer:hover {
    background-color: #FFF3ED;
}

.rowContainer:not(:last-child) .innerContainer {
    border-block-end: 1px solid var(--color-border)
}

.code {
    font-family: var(--type-code);
    font-size: 2rem;
}

.distance {
    display: flex;
    gap: 8px;
    justify-content: center;
}

