.form {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100%;
}

.extraTopMargin {
    margin-block-start: 16px;
}

.generalFormError {
    color: var(--color-foreground-error);
    text-align:center;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;    
}

.fullWidthSubmit {
    width: 100%;
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}