.inputDiv {
    display: flex;
    flex-direction: column;
}

.input {
    padding-inline: 12px;
    padding-block: 8px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    margin-block-end: 21px;
}

.required {
    color: var(--color-foreground-error);
}

.inputError {
    border: 1px solid var(--color-foreground-error);
}

.errorMessage {
    color: var(--color-foreground-error);
    font-size: 0.875rem;
    margin-block-end: 0;
}

.inputError {
    margin-block-end: 0;
}