:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  --body-padding: 24px;

  /* Transition for color-scheme changes */
  transition: color-scheme 0.3s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--color-surface-default);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: var(--body-padding)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
