:root {
    --color-surface-default: light-dark(white, #101010);
    --color-surface-shy: light-dark(rgb(247, 247, 247), rgb(39 39 39));
    --color-surface-inverted: light-dark(#111111, #eae8e3);
    --color-surface-accent: light-dark(#D1C4F0, #453F73);
    --color-surface-accent-bold: light-dark(#3c2a63, #09071d);
    --color-surface-alert: light-dark(#e61111, #dc3939);
    --color-surface-raised: light-dark(#eae8e3, #101010);

    --color-foreground-default: light-dark(#333, #EAE8E3);
    --color-foreground-subtle: light-dark(#B0B0B0, #5a5a5a);
    --color-foreground-inverted: light-dark(#eae8e3, #101010);
    --color-foreground-subtle-inverted: light-dark(#B0B0B0, #a09e99);

    --color-border: light-dark(#CFCFCF, #3a3a3a);
    --color-border-bold: light-dark(var(--color-surface-inverted), #3a3a3a);

    --color-border-accent: light-dark(rgba(29, 22, 86, 0.38), rgb(137 132 179 / 38%));

    --color-link: light-dark(#4550E9, #4550E9);
}